h3#title {
  margin: 5px 0 20px;
}

#user-image {
  width: 170px;
  margin: 0 10px;
  float: left;
}

#user-info {
  /*width: 540px;*/
  color: #000;
}

#user-point {
  background-color: #FF8080;
  float: left;
  width: 150px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 10px;
}

#user-point p:first-child {
  font-size: 50px;
  text-align: center;
}

#user-level {
  background-color: #FFFF80;
  float: left;
  width: 150px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 10px;
}

#user-level p:first-child {
  font-size: 50px;
  text-align: center;
}

#user-ticket_count {
  background-color: #80FF80;
  float: left;
  width: 150px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 10px;
}

#user-ticket_count p:first-child {
  font-size: 50px;
  text-align: center;
}

#user-info .item {
  padding-left: 10px;
  font-size: 15px;
  font-style: bold;
}
