div#medal-info h2 {
  padding-top: 30px;
}

h3#title {
  margin: 5px 0 20px;
}

#user-image {
  width: 200px;
  margin: 0 30px 0 10px;
  float: left;
}

#user-info {
  width: 700px;
  color: #000;
}

#user-point {
  background-color: #FF8080;
  float: left;
  width: 170px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}

#user-level {
  background-color: #FFFF80;
  float: left;
  width: 170px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

#user-ticket_count {
  background-color: #80FF80;
  float: left;
  width: 170px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
}

#agile-level {
  background-color: #66CCCC;
  float: left;
  width: 170px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
}

.item-sub {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.item-title {
  font-size: 50px;
  text-align: center;
}

#user-info .item {
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
}

#user-goal {
  border: solid 3px #999999;
  padding: 5px;
  height: 150px;
  width: 135px;
}

#medal-log {
  font-size: 16px;
  color:#333333;
  background:#d6e5f5;
  margin:0 auto;
  padding:20px;
}
#medal-log ul {
  padding-left:0;
  margin-left:40px;
  border-top:1px solid #84b2e0;
  border-bottom:1px solid #f1f6fc;
}
#medal-log li {
  list-style-type : none;
  padding:5px 10px;
  color:#333333;
  border-top:1px solid #f1f6fc;
  border-bottom:1px solid #84b2e0;
}

#medal-list {
  float: left;
}

#medal-list {
  margin-top: 90px;
}

#medal-list caption {
  font-size: 15px;
}

#medal-list tr {
  height: 50px;
}

#medal-list th{
  width: 150px;
  background-color: #DCDCDC;
}

#medal-list td{
  width: 100px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #DCDCDC;
}

.clear {
  clear: both;
}
