div#tuts-list {
  font-size: 24px;
  margin: 10px 20px;
  padding-right: 250px;
}

div#tuts-list div {
  padding: 5px;
  border: 1px solid #111111;
}

#agile-check li{
  list-style: none;
  font-size: 15px;
  line-height: 25px;
}

