<br />
<h3>このチケットを評価する</h3>
<form>
  <select name="rating_num">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
  </select>
  <input type="hidden" name="issue_id" value="<%= @issue.id %>">
  <input type="hidden" name="assigned_to_id" value="<%= @issue.assigned_to_id %>">
  <input type="submit" value="評価する">
</form>
<%= p @issue %>
